<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-4">
            <div class="card user-card">
                <div class="card-header">
                    <h4>View Product</h4>
                </div>
            <!--<hr>-->
                <div class="card-block">
                    <div class="user-image">
                        <img src="https://icon-library.com/images/icon-clothing/icon-clothing-4.jpg" class="img-radius"
                            alt="User-Profile-Image">
                    </div>
                    <h6 class="f-w-600 m-t-25 m-b-10">Product Name</h6>
                    <p class="text-muted">Product Category</p>
                    <hr>
                    <p class="text-muted m-t-15">Product Code: </p>
                    <hr>

                    <p class="m-t-15 text-muted">Description</p>
                    <p class="m-t-15 text-muted">Color</p>
                    <p class="m-t-15 text-muted">Size</p>
                    <hr>
                    <p class="m-t-15 text-muted">Price: </p>

                    <hr>
                    <div class="row justify-content-end">
                        <a href="#" class="btn btn-secondary mr-2 btn-block" [routerLink]="['/products-list']">Back to Products List</a>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>