<div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-body bg-primary text-white mailbox-widget pb-0">
            <h2 class="text-white pb-3">Edit Product</h2>
          </div>
  
          <!-- Form to add product -->
          <div class="card-body">
            <form>
              <div class="row m-3">
                <div class="col-md-4">
                  <div class="form-group">
                    <label for="productCategory">Category ID:</label>
                    <input type="text" class="form-control" id="productCategory">
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label for="productName">Product Name:</label>
                    <input type="text" class="form-control" id="productName">
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label for="productCode">Product Code:</label>
                    <input type="text" class="form-control" id="productCode">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="productDescription">Product Description:</label>
                    <input type="text" class="form-control" id="productDescription">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="productPrice">Product Price:</label>
                    <input type="text" class="form-control" id="productPrice">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="productColor">Product Color:</label>
                    <input type="text" class="form-control" id="productColor">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="productSize">Product Size:</label>
                    <input type="text" class="form-control" id="productSize">
                  </div>
                </div>
  
              </div>
              <hr style="margin-top: 1.6rem;">
              <div class="text-right">
                <a href="#" class="btn btn-secondary mr-2" [routerLink]="['/products-list']">Back to Products List</a>
                <button type="submit" class="btn btn-primary mr-2">Submit</button>
              </div>
            </form>
          </div>
  
        </div>
      </div>
    </div>
  </div>
  